{% extends "layout.html" %}

{% block content %}
<section class="container py-5 my-5">
    <h1>Tome de Médine 1</h1>
    <h2 class="py-3">Leçon 1</h2>
    <form method="post">
        {% csrf_token %}
        <h2>Quelle est la traduction de "{{ mot.arabic_word }}" ?</h2>
        {% for option in options %}
        <div>
            <input type="radio" name="reponse" value="{{ option }}" required>
            <label>{{ option }}</label>
        </div>
        {% endfor %}
        <button type="submit">Valider</button>
    </form>
</section>
{% endblock %}