{% extends "layout.html" %}

{% load crispy_forms_tags %}

{% block content %}
<!-- =======================
Main Content START -->
<main>
    <section class="pt-4 pt-md-5 pb-0 py-5 bg-primary text-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <h1 class="fs-2 mb-2 text-light">Nouveau mot de passe</h1>
                    <p class="mb-0">Rejoignez-nous pour une expérience de covoiturage unique.</p>
                </div>
            </div>
        </div>
    </section>
<section class="py-5">
    <div class="container py-5">
        <div class="row justify-content-center align-items-center m-auto">
            <div class="col-lg-6">
                <div class="card border">
                    <div class="card-header bg-primary rounded-0 text-center">
                        <h4 class="text-light">Nouveau mot de passe</h4>
                    </div>

                    <div class="card-body mt-0">
                        <!-- Form START -->
                        <form class="mt-4 text-start" method="POST">
                            {% csrf_token %}
                            <!-- Email -->
                            <div class="mb-3 form-group">
                               {{ form|crispy }}
                            </div>

                            <!-- Button -->
                            <div>
                                <button type="submit" class="btn btn-dark mb-0 w-100 rounded-0">Confirmer votre demande</button>
                            </div>
                        </form>
                        <!-- Form END -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Main Content END -->
</main>
{% endblock %}